.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 300;
    background: rgba(0, 0, 0, 0.75);
  }

  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 400;
    overflow: hidden;
    background-color: white;
    border-radius: 1vw;
  }

  .header {
    background: #4f005f;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header h2 {
    margin: 0;
    color: white;
  }

  .actions {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .form{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
