.note{
    width: 12vw;
    height: 12vh;
    background-color: yellow;
}

.handle{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerheader{
    display: flex;
    flex-direction: row;
    background-color: beige;
    align-items: center;
    justify-content: space-between;
}
